
    .card {
        width: 250px;
        border-radius: 10px;
        border: 0;
        .mid {
            background: #ECEDF1;
        }
        .card-img-top {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px
        }
    }
        

    
  
   
