    $primary_color : #2c2727;
    .card {
        width: 250px;
        border-radius: 10px;
        border: 0;
        .mid {
            background: #ECEDF1;
        }
        .card-img-top {
            border-top-right-radius: 10px;
            border-top-left-radius: 10px
        }
    }
        

    .toogle-btn{
        background: $primary_color;
        border: $primary_color;
        color: #FFF;
        &:hover{
            background: $primary_color;
        border: $primary_color; 
        color: #FFF;

        }
        &:focus{
            background: $primary_color;
            border: $primary_color;
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #FFF;

        }
        &:active{
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: #FFF;


        }
    }
  
   
